<!DOCTYPE html>
<html>
<head>
	<title>list_product_page</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../../resource/frontend/css/list_product.css">
</head>
<body>
<div id="header">
	<div id="header_center">
		<div id="logo">
			<a href="#"><img src="../img/logo.png"></a>
		</div>
		<div id="sub_menu">
			<ul>
				<li><a href="">TRANG CHỦ</a></li>
				<li><a href="">GIỚI THIỆU</a></li>
				<li><a href="">SẢN PHẨM</a></li>
				<li><a href="">HƯỚNG DẪN</a></li>
				<li><a href="">TIN TỨC</a></li>
				<li><a href="">LIÊN HỆ</a></li>
			</ul>
		</div>
		<div id="search_cat"></a></div>
	</div>
</div>
</body>
</html>